body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 14px;
  color: #999; }

a {
  text-decoration: none;
  color: inherit;
  outline: 0 !important; }

button, input, textarea {
  outline: none; }

#maket {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  background: url(../maket.jpg) no-repeat top center;
  height: 13200px;
  opacity: 0.5;
  z-index: 10; }

.navbar_right {
  float: right;
  margin-right: 30px; }

.dropdown-submenu {
  position: relative; }

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px; }

.dropdown-submenu:hover > .dropdown-menu {
  display: block; }

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px; }

.dropdown-submenu:hover > a:after {
  border-left-color: #fff; }

.navbar-default {
  background: #fff; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background: transparent;
  color: #232323;
  font-weight: bold; }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  background: transparent;
  color: #232323; }

.navbar-default .navbar-nav > li > a {
  font-size: 16px;
  color: #232323; }

.nav > li > a {
  padding: 25px 27px; }

.navbar {
  min-height: 70px; }

.navbar-right {
  margin-right: 0; }

.navbar > .container .navbar-brand {
  margin-top: 10px; }

.form_header {
  position: relative;
  width: 180px;
  margin-top: 20px; }
  .form_header input {
    background: #e8e4f1;
    width: 100%;
    padding: 10px;
    height: 30px;
    border: none; }
  .form_header button {
    position: absolute;
    right: 23px;
    top: 4px;
    border: none;
    background: transparent; }

.dropdown-menu {
  padding: 15px 28px !important;
  color: #fff;
  border-top: 2px solid #fff200;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 0; }

.dropdown-menu > li > a {
  padding: 0;
  font-size: 16px;
  color: #fff;
  line-height: 36px; }

.dropdown-submenu > a:after {
  display: none; }

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
  background: transparent;
  color: #fff200; }

.dropdown-submenu:hover > .dropdown-menu {
  margin-left: 29px;
  border-radius: 0; }

.section-slider {
  margin-top: 70px; }

.carousel-caption {
  top: 50%;
  transform: translate(0, -38%);
  width: 100%;
  left: 0; }

.carousel-caption h1 {
  font-size: 70px;
  margin-bottom: 24px;
  text-transform: uppercase; }
  .carousel-caption h1 span {
    color: #fff200; }

.carousel-caption p {
  max-width: 730px;
  font-size: 16px;
  line-height: 30px;
  margin: 0 auto; }

.carousel-control {
  bottom: inherit;
  top: 50%;
  margin-top: -25px;
  height: 60px;
  width: 60px;
  background: rgba(255, 255, 255, 0.6) !important;
  box-shadow: none;
  color: #fff !important; }
  .carousel-control i {
    margin-top: 18px;
    display: block;
    color: #fff; }

.left.carousel-control {
  left: 20px; }

.right.carousel-control {
  right: 20px; }

.carousel-control:focus, .carousel-control:hover {
  opacity: none; }

.section-page {
  padding: 100px 0; }
